$salesforce-button-background: rgba(255, 255, 255, .3);
$salesforce-button-shadow: rgba(0, 74, 123, .8);

.button {
    display: inline-block;
    padding: .5rem 1rem;
    border-radius: 2px;
    font-family: OpenSans-Bold;
    font-size: $font-size--xxs;
    text-transform: uppercase;

    &--blue {
        border: solid 1px $medium-blue;
        background-color: $light-blue;
        color: $white;
        font-family: OpenSans-Bold;
    }

    &--gray {
        border: solid 1px $grey5;
        background-color: $grey4;
        color: $dark-grey2;
        font-family: OpenSans-Bold;
    }

    &--wide {
        width: 100%;
    }

    &--disabled {
        opacity: .5;
    }

    &--salesforce {
        height: 3rem;
        background-color: $salesforce-button-background;
        color: $white;
        font-family: OpenSans-Bold;
        font-size: 1rem;
        box-shadow: 0 1px 2px 0 $salesforce-button-shadow;
    }

    &--fa {
        font-size: $font-size--xxl;
    }

    &--flat {
        border-color: transparent;
        background-color: transparent;

        &--highlighted {
            color: $light-blue;
        }

        &--standard {
            color: $dark-grey1
        }

        &--disabled {
            color: $grey2;
        }

        &--inactive {
            color: $grey5;
        }
    }

    &--no-padding {
        padding: 0;
    }

    > input[type='file'] {
        display: none;
    }
}
