.droppable-indicator {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px dashed $light-blue;
    border-radius: 2px;
    z-index: z-index(content);
    pointer-events: none;

    &--active {
        display: block;
    }
}
