.dialog-header {
    position: relative;
    min-height: $modal-topbar-height;
    padding: 0 $size-detail;
    background-color: $light-blue;
    color: $white;
    z-index: 1;

    &__line {
        display: flex;
        align-items: center;
        height: $modal-topbar-height;

        /* this was used for the floating primary action buttons in the dialogs, I am just pushing the button to the right of the header now */
        &--primary-action {
            padding-right: $size-standard + $size-detail;
            @include rtl() {
                padding-left: $size-standard + $size-detail;
                padding-right: 0;
            }
        }
        
    }

    &__title {
        font-family: OpenSans-bold;
        font-size: $font-size--xl;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &--line-1 {
            padding-left: rem(60) - $size-small; // In line 1, title is next to the X button
        }

        &--line-2 {
            padding-left: rem(60);
            @include rtl() {
                padding-left: 0;
                padding-right: rem(60);
            }
        }
    }

    &__primary-action {
        margin-right: $size-detail;
    }

    &__btn--disabled {
        opacity: .5;
    }

    &__btn-close {
        width: $size-small;
        height: $size-small;
    }

    &__btn-fa {
        color: #B3D9F1;
        line-height: 24px;
        padding-bottom: 2px;
    }

    &__btn-confirm {
        margin-left: $padding-std;
        color: inherit;
        font-size: $font-size--s;
        text-transform: uppercase;
        cursor: pointer;

        @include rtl() {
            margin-right: auto;
            margin-left: 0;
        }
    }

    &__actions {
        margin-left: auto;
        @include rtl() {
            margin-right: auto;
            margin-left: 0;
        }
    }
}
